<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
  <%= stylesheet_link_tag 'custom', :media => 'all' %>

</head>
<body class="home">
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="bg1">
	<tr valign="top">
		<td><table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td id="bg2"><table border="0" align="center" cellpadding="0" cellspacing="0" id="header">
							<tr valign="top">
								<td><%= image_tag("homepage01.jpg", :widht => "500", :height => "147") %></td>
								<td><div id="topmenu">
										<ul>
											<li class="first"><a href="#" accesskey="1" title="">Advanced Search</a></li>
											<li><a href="#">Sitemap</a></li>
											<li><a href="#">Help and Information</a></li>
										</ul>
									</div></td>
							</tr>
						</table></td>
				</tr>
			</table>
			<table width="1058" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td id="menu"><ul class="container">
							<li class="first"><a href="#">Home</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Articles</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="#">Information</a></li>
							<li><a href="#">Advertise</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">Forums</a></li>
							<li><a href="#">Contact</a></li>
						</ul></td>
				</tr>
			</table>
			<table width="1058" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td id="bar"><div class="container">
							<div id="login">
								<form method="post" action="">
									<fieldset>
									<span class="input-text">
									<input type="text" name="usernamer" value="" />
									</span> <span class="input-text">
									<input type="password" name="password" value="" />
									</span>
									<input type="submit" value="Login" class="input-submit" />
									<p><a href="#">Forgot password?</a> | <a href="#">Register</a></p>
									</fieldset>
								</form>
							</div>
							<div id="search">
								<form method="get" action="">
									<fieldset>
									<span class="input-text">
									<input type="text" name="query" value="" />
									</span>
									<input type="submit" value="Search" class="input-submit" />
									</fieldset>
								</form>
							</div>
						</div></td>
				</tr>
			</table>
			<table width="1058" border="0" align="center" cellpadding="0" cellspacing="0" id="bg3">
				<tr>
					<td id="bg4"><div id="page" class="container">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr valign="top">
									<td><div id="sidebar">
											<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box6">
												<tr>
													<td class="box-style2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td><h2 class="title">Veroeros Dolor</h2></td>
															</tr>
															<tr>
																<td class="entry"><ul class="list1">
																		<li><a href="#">Donec venenatis</a></li>
																		<li><a href="#">Quam porttitor</a></li>
																		<li><a href="#">Nullam cursus nunc</a></li>
																		<li><a href="#">Sapien adipiscing</a></li>
																		<li><a href="#">Nec tempor nulla</a></li>
																		<li><a href="#">Mauris posuere</a></li>
																		<li><a href="#">Commodo vestibulum</a></li>
																		<li><a href="#">Mi nec lobortis</a></li>
																		<li><a href="#">Sit amet duis orci</a></li>
																		<li><a href="#">Lorem condimentum</a></li>
																	</ul></td>
															</tr>
														</table></td>
												</tr>
											</table>
											<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box7">
												<tr>
													<td class="box-style2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td><h2 class="title">Veroeros Dolor</h2></td>
															</tr>
															<tr>
																<td class="entry"><ul class="list1">
																		<li><a href="#">Donec venenatis</a></li>
																		<li><a href="#">Quam porttitor</a></li>
																		<li><a href="#">Nullam cursus nunc</a></li>
																		<li><a href="#">Sapien adipiscing</a></li>
																		<li><a href="#">Nec tempor nulla</a></li>
																		<li><a href="#">Mauris posuere</a></li>
																		<li><a href="#">Commodo vestibulum</a></li>
																		<li><a href="#">Mi nec lobortis</a></li>
																		<li><a href="#">Sit amet duis orci</a></li>
																		<li><a href="#">Lorem condimentum</a></li>
																	</ul></td>
															</tr>
														</table></td>
												</tr>
											</table>
											<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box8">
												<tr>
													<td class="box-style2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td><h2 class="title">Veroeros Dolor</h2></td>
															</tr>
															<tr>
																<td class="entry"><ul class="list1">
																		<li><a href="#">Donec venenatis</a></li>
																		<li><a href="#">Quam porttitor</a></li>
																		<li><a href="#">Nullam cursus nunc</a></li>
																		<li><a href="#">Sapien adipiscing</a></li>
																		<li><a href="#">Nec tempor nulla</a></li>
																		<li><a href="#">Mauris posuere</a></li>
																		<li><a href="#">Commodo vestibulum</a></li>
																		<li><a href="#">Mi nec lobortis</a></li>
																	</ul></td>
															</tr>
														</table></td>
												</tr>
											</table>
										</div></td>
									<td width="1"><img src="images/spacer.gif" alt="" width="1" height="100" /></td>
									<td id="content"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="box1">
											<tr>
												<td class="box-style1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td><h2 class="title">Veroeros Dolor</h2></td>
														</tr>
														<tr>
															<td class="entry"><%= link_to image_tag("homepage05.jpg", :widht => "718", :height => "242"), '#'%></td>
														</tr>
													</table></td>
											</tr>
										</table>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr valign="top">
												<td id="sidebar2"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="box2">
														<tr>
															<td class="box-style3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td><h2 class="title">Veroeros Dolor</h2></td>
																	</tr>
																	<tr>
																		<td class="entry"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tr valign="top">
																					<td class="column1"><p><%= image_tag("homepage06.jpg", :widht => "232", :height => "72", :class => "border") %></p>
																						<p><strong>Lorem ipsum dolor sit amet</strong> consectetuer adipiscing elit. Pellentesque tincidunt auctor mauris. Duis magna are velit. <a href="#">More&hellip;</a></p></td>
																					<td>&nbsp;</td>
																					<td class="column2"><p><%= image_tag("homepage07.jpg", :widht => "232", :height => "72", :class => "border") %></p>
																						<p><strong>Blandit sit amet veroeros</strong> consectetuer adipiscing elit. Pellentesque tincidunt auctor mauris. Duis magna nam mi velit.. <a href="#">More&hellip;</a></p></td>
																				</tr>
																			</table></td>
																	</tr>
																</table></td>
														</tr>
													</table>
													<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box3">
														<tr>
															<td class="box-style3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td><h2 class="title">Veroeros Dolor</h2></td>
																	</tr>
																	<tr>
																		<td><div class="entry"><%= image_tag("homepage08.jpg", :widht => "72", :height => "72", :class => "alignleft border") %>
																				<h3>Ipsum tempus aliquam dolor</h3>
																				<p class="byline">Posted by <a href="#">Someone</a> on December 17, 2008</p>
																				<p>Consectetuer adipiscing elit. Pellentesque tincidunt auctor mauris. Duis are Nam mi velit. Volutpat sed lorem ipsum dolor sit amet. <a href="#">More&hellip;</a></p>
																				<p style="margin: 0px;">&nbsp;</p>
																				<%= image_tag("homepage09.jpg", :widht => "72", :height => "72", :class => "alignleft border") %>
																				<h3>Velit auctor pellentesque</h3>
																				<p class="byline">Posted by <a href="#">Someone</a> on December 17, 2008</p>
																				<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit. Pellentesque tincidunt auctor mauris. Duis are Nam mi velit. Lorem et ipsum dolor. <a href="#">More&hellip;</a></p>
																				<p style="margin: 0px;">&nbsp;</p>
																				<%= image_tag("homepage10.jpg", :widht => "72", :height => "72", :class => "alignleft border") %>
																				<h3>Mauris sed tempus volutpat etiam</h3>
																				<p class="byline">Posted by <a href="#">Someone</a> on December 17, 2008</p>
																				<p>Pellentesque tincidunt auctor mauris. Duis are Nam mi velit. Lorem et ipsum dolor. Consectetuer adipiscing elit. <a href="#">More&hellip;</a></p>
																			</div></td>
																	</tr>
																</table></td>
														</tr>
													</table></td>
												<td><div id="sidebar3">
													<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box4">
														<tr>
															<td class="box-style4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td><h2 class="title">Veroeros Dolor</h2></td>
																	</tr>
																	<tr>
																		<td class="entry"><ul class="list1">
																				<li><a href="#">Donec venenatis</a></li>
																				<li><a href="#">Quam porttitor</a></li>
																				<li><a href="#">Nullam cursus nunc</a></li>
																				<li><a href="#">Sapien adipiscing</a></li>
																				<li><a href="#">Nec tempor nulla</a></li>
																				<li><a href="#">Mauris posuere</a></li>
																				<li><a href="#">Commodo vestibulum</a></li>
																				<li><a href="#">Mi nec lobortis</a></li>
																				<li><a href="#">Sit amet duis orci</a></li>
																				<li><a href="#">Lorem condimentum</a></li>
																			</ul></td>
																	</tr>
																</table></td>
														</tr>
													</table>
													<table width="100%" border="0" cellpadding="0" cellspacing="0" id="box5">
														<tr>
															<td class="box-style4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td><h2 class="title">Veroeros Dolor</h2></td>
																	</tr>
																	<tr>
																		<td class="entry"><ul class="list1">
																			<li><a href="#">Donec venenatis</a></li>
																			<li><a href="#">Quam porttitor</a></li>
																			<li><a href="#">Nullam cursus nunc</a></li>
																			<li><a href="#">Sapien adipiscing</a></li>
																			<li><a href="#">Nec tempor nulla</a></li>
																			<li><a href="#">Mauris posuere</a></li>
																			<li><a href="#">Commodo vestibulum</a></li>
																			<li><a href="#">Mi nec lobortis</a></li>
																			<li><a href="#">Sit amet duis orci</a></li>
																			<li><a href="#">Lorem condimentum</a></li>
																		</ul></td>
																	</tr>
																</table></td>
														</tr>
													</table></div></td>
											</tr>
										</table></td>
								</tr>
							</table>
						</div></td>
				</tr>
			</table></td>
	</tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" id="footer"><p class="container">Copyright (c) 2008 GamingSite. All rights reserved.</p></td>
	</tr>
</table>
<table width="1058" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>

